body {
    background-image: linear-gradient(to right, #FCE4B5, #F9E08E);
    font-family: 'Bungee', sans-serif;
}

h1 {
    text-align: center;
}

.rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #F9FAF8;
    border-radius: 12px;
    padding: 10px;
}

img {
    border: 2px solid #F9FAF8;
    border-radius: 12px;
    box-shadow: 0 0 10px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #F9FAF8;
    border-radius: 12px;
}

button {
    font-family: 'Bungee', sans-serif;
}